{
	"endOfLine": "lf",
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"trailingComma": "es5",
	"svelteBracketNewLine": true,
	"svelteSortOrder": "options-scripts-markup-styles"
}
